<div class="container mt-5">
    <h2 class="title">Perfil de: <%= usuario.nombre %></h2>
    <img class="image is-128x128" 
        style="width: 50%; max-height: 350px; height: 50%; object-fit: cover;"
        src="<%= usuario.foto %>"
        alt="<%= usuario.nombre %>">
    <p>
        <strong>Correo: </strong><%= usuario.correo %>
    </p><br />
    <a href="/" class="button is-link mt-3">Volver</a>
    <a href="/usuarios/<%= usuario.id %>/editar"
        class="button is-warning is-small ml-2 mt-2"
        >Editar</a>

    <form style="display: inline;" 
        action="/usuarios/<%= usuario.id %>/eliminar" 
        method="post">
        <button type="submit" 
            onclick="return confirm('¿Estás seguro de eliminar?')"
            class="button is-danger is-small ml-2 mt-2">
            Eliminar
        </button>
    </form>
</div>