<div class="container mt-5">
    <h2 class="title">Perfil de: <%= usuario.nombre %></h2>
    <img style="width: 50%; height: 50%; object-fit: cover;"
        src="<%= usuario.foto %>?t=<%= Date.now() %>" 
        alt="<%= usuario.nombre %>">
    <p>
        <strong>Correo: </strong><%= usuario.correo %>
    </p><br />
    <a href="/" class="button is-link mt-3">Volver</a>
    <a href="/usuarios/<%= usuario.id %>/editar"
        class="button is-warning is-small ml-2 mt-2"
        >Editar</a>
</div>